body{
  background-color:#fffbf7; 
  
  font-family: 'Courier New', Courier, monospace;
}
.header{
  display:inline-block;
  width:100%;
  margin:20px 20px 0 20px;
  font-size: 0px;
  
}

.header_fixed{
  position:fixed;
  background-color:#ffff;
  top:0;
  left:0;
  right:0;
  z-index:2000;
}

.header > * {
  display:inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  font-family: sans-serif;
}
.header > nav > ul > li {
  display:inline;
  margin: 0 25px;
  color:#025157;
}

.logo{
  width:15%;
  text-align: center;
}
.navbar{
  width:70%;
  text-align: center;
  line-height: 45px;
}
.actions{
  display:inline;
  width:15%;
  text-align: right;
}

.actions > *{
  font-size: 14px;
  margin:0 10px;
}

.actions > a{
  color:#67b54b;
}

.actions >button {
  color:#ffff;
  background-color:#67b54b;
  padding:12px 14px;
  border:none;
  border-radius: 5px;
}
.titles{
  margin-top:250px;
}
h1{
  color:#110c66;
  font-size: 80px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  color:#46484c;
}

.label{
  color:#8b8b8bcc;
}

.form{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  border: 2px solid navy;
  border-radius: 30px;
  background-color:#B4CFEA;
  padding: 15px;
  margin: 10px 10px 50px;
  width: auto;
  gap:5%;
}



label{
  padding: 15px 0px;
}
button{
  color:#fff;
  background-color:#025157;
  margin: 20px 0px;
  border:none;
  border-radius:5px;
}

figure{
  margin:0;
}

.publicidad{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin:150px 150px;
}

.title{
  color:#025157;
  font-weight: 800;
  
}

.font-medium{
  font-size: 50px;
}

.publicidad_video{
  display:flex;
  flex: 1;
  flex-direction:column;
  justify-items: center;
  align-items: center;
  
  
}

.publicidad_descripcion{
  flex:1;
 }

 .form-submit{
  display:flex;
  width:70%;
  height:50px;
 }
 .form-submit input,.form-submit button{
  border: 1px solid grey;
  border-radius: 5px;
  width:100%;
 }
.form-submit button{
  border:none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color:#ffff;
  background-color:#025157;
  font-size: 18px;
  margin:0;
  cursor: pointer;
}
.form-submit input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding:5px;
}


.brands{
  display:flex;
  flex-direction:row;
  position: relative;
  padding:10% 15%;
  background-color:#a1d683;
  justify-content: space-between;
}

.brands_description{
  margin:0px 5% 0 0;
  flex:2;
}
.card{
  display:flex;
  flex-direction:column;
  border-radius: 15px;
  background-color:#ffff;
  width:100%;
  flex:1;
  max-width: 370px;
}

.card-image,.card-image > img{
  border-radius: 15px 15px 0 0;
  width:100%;
  position:relative;
}

.card-content{
  display:flex;
  flex-direction:column;
  padding:5%;
  
}

.company{
  display:flex;
  align-items: center;
  justify-content: center;
  border:none;
  border-radius: 50%;
  position:absolute;
  background-color:#f9da73;
  width: 100px;
  height:100px;
  bottom:-20px;
  right:20px;
}
.card-info{
  display:flex;
}

.icon{
  width:50px;
  height:30px;
  text-align:center;
  align-self: center;
  margin:0 15px;
}
.card-actions{
  width:100%; 
  background-color:#025157;
  height:50px; 
  border:none;
  border-radius: 10px;
}

.action-button{
  background-color:#025157;
  height:50px; 
  border:none;
  border-radius: 10px;
  padding:0 20px;
}

.features{
  display:grid;
  background-color: #025157;
 
  /* grid-template-columns:300px 300px; */
/*   grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,300px); */
  /* grid-template: repeat(2, 1fr) / repeat(2, 330px); */
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
  /* grid-template-columns: 1fr 1fr; */
  padding:5% 5%;
}
.feature-card{
  display:flex;
  background-color: #ffff;
  margin:10px;
  padding:40px 20px 20px 40px;
  border-radius: 5px;
  overflow: hidden;
}

.feature-content{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  flex:2;
}

.feature-image{
  flex:1;
  position:relative;
  right:-50px;
  height:80%;
  width:40%;
  
}

.features .feature-card .feature-content img {
  width: 50px;
  height:100%;
}

.feature-card .feature-image figure, .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}
.feature-image figure {
  display: block;

}

.features .feature-card .feature-content a,.how-work-card-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}



.how-does-it-work{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-items:center;
  padding:5% 5%;
}
.how-does-it-work a{
  color:#67b54b;
  text-decoration: none;
}
.how-does-it-work > header{
  text-align: center;
  margin-bottom: 40px;
}
.how-does-it-work > header > h2{
  color:#025157;
  font-size: 40px;
  font-weight: 900;
}
.how-does-it-work > header > p{
 margin:0 20%;
}
.steps{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:5%;
  
}
.how-work-card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dadada;
  border-radius:5px;
  background-color:#ffff;
}

.how-work-image{
  position: relative;
  max-height: 50%;
}
.how-work-bg{
  width:100%;
  height:100%;
 
}

.how-work-icon{
  width:20px;
  position:absolute;
  left:20px;
  top:20px;
  
}

.how-work-card-content{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  padding:30px;
  flex:1;
}

.how-work-card-content h2{
  color:#025157;
}

.how-work-card-content p {
  font-size: 15px ;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  body{
    background-color:#9bffbd;
    width: 100%; 
  }

  .navbar,.actions {
    display:none;
  }

  h1{
    font-size: 30px;
  }
  .titles{
    margin-top: 90px;
  }
  .form{
    display:flex;
    flex-direction: column;
    border: 2px solid navy;
    border-radius: 30px;
    background-color:#B4CFEA;
    padding: 15px;
    margin: 10px 10px 50px ;
    width: auto;
  }

  .publicidad{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:150px 150px;
  }
  
  .features{
    display:grid;
    background-color: #025157;
   
    /* grid-template-columns:300px 300px; */
  /*   grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,300px); */
    /* grid-template: repeat(2, 1fr) / repeat(2, 330px); */
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    /* grid-template-columns: 1fr 1fr; */
    padding:5% 5%;
  }

  .feature-image{
    display:none;
  }

  
.brands{
  display:flex;
  flex-direction:column;
  position: relative;
  padding:10% 15%;
  background-color:#a1d683;
  justify-content: space-between;
}
.steps{
  display:grid;
  grid-template: repeat(4, 1fr)/1fr;
  gap:1%;
 
}
.how-work-card{
  display:flex;
  flex-direction: row-reverse;
}
.how-work-image{
  position: initial;
  flex:1;
  align-self:center;
  max-height: 100%;
}

.how-work-card-content{
  padding:10px;
}
.how-does-it-work  .steps .how-work-card  {
  position: relative;
}

  
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}
/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}
/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}