body{
  background-color:#fffbf7;
 
  font-family: 'Courier New', Courier, monospace;
}
.header{
  display:inline-block;
  width:100%;
  margin:40px 20px 20px;
  font-size: 0px;
}

.header > * {
  display:inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  font-family: sans-serif;
}
.header > nav > ul > li {
  display:inline;
  margin: 0 25px;
  color:#025157;
}

.logo{
  width:15%;
  text-align: center;
}
.navbar{
  width:70%;
  text-align: center;
  line-height: 45px;
}
.actions{
  display:inline;
  width:15%;
  text-align: right;
}

.actions > *{
  font-size: 14px;
  margin:0 10px;
}

.actions > a{
  color:#67b54b;
}

.actions >button {
  color:#ffff;
  background-color:#67b54b;
  padding:12px 14px;
  border:none;
  border-radius: 5px;
}

h1{
  color:#110c66;
  font-size: 80px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  color:#46484c;
}

p{
  color:#8b8b8bcc;
}

form{
  display:flex;
  flex-direction: column;
  border: 2px solid navy;
  border-radius: 30px;
  background-color:#B4CFEA;
  padding: 15px;
  margin: 10px 10px 50px ;
  width: auto;
}

label{
  padding: 15px 0px;
}
button{
  color:#fff;
  background-color: navy;
  margin: 20px 0px;
}